* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "Lato", sans-serif;
}

body {
  background-color: $tertiary;
  color: $primary;
}

.full-width {
  width: $full-w !important;
  min-width: $full-w !important;
  display: block;
}
