.auth-button {
  border: none;
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 16px;
  padding: 1em 1em;
  color: $primary;
  font-size: 1em;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;

  @include respond(">", $sm-w) {
    font-size: 1.5em;
    padding: 1em 1.5em;
  }

  &:hover {
    box-shadow: 0 0 10px rgba($primary, 0.6);
    outline: 1px solid $primary;
  }

  img {
    width: 16px;
    height: 16px;

    @include respond(">", $sm-w) {
      width: 24px;
      height: 24px;
    }
  }
}
