.component-button {
  border: none;
  background-color: $secondary;
  color: $primary;
  padding: 0.8em 2em;
  min-width: 300px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 100%;

  &.fit {
    min-width: fit-content;
  }

  &:hover {
    background-color: rgba($secondary, 0.8);
  }
}
