.intro-card {
  @include glass;
  max-width: 300px;
  width: 100%;

  .image-wrapper {
    overflow: hidden;
    height: 350px;
    border-radius: 16px;

    @include respond("<", $sm-w) {
      height: 220px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    padding: 1em 1em 1.3em 1em;

    h3 {
      text-align: center;
      margin: 0.8em 0;
    }
  }
}
